// 圓形
@mixin circle($size, $bg-color) {
  width: $size;
  height: $size;
  font-size: $size / 3;
  line-height: $size + 2px;
  background: $bg-color;
  border-radius: 50%;
}

// 三角形
@mixin triangle($tri-border-color, $tri-border-width){
  border-color: $tri-border-color;
  border-style: solid;
  border-width: $tri-border-width;
}

// 背景漸層
// @include bgcLG(to bottom, $white, lighten($grey, 20%));
@mixin bg-linear-gradient($direction, $color-one, $color-two) {
  background: linear-gradient($direction, $color-one 0, $color-two 100%);
}