// Radio Setting
$basic: 8px;
$spacing: 4px;
$line_borderWidth: 1px;
$line_outlineWidth: 20px;
$line_insideWidth: $line_outlineWidth - $basic;

.radio {
  padding-left: (($line_outlineWidth / 2) + $line_borderWidth);

  label {
    display: block;
    position: relative;
    vertical-align: middle;

    &::before, &::after {
      content: '';
      border-radius: 50%;
      display: block;
      position: absolute;
    }

    &::before {
      width: $line_outlineWidth;
      height: $line_outlineWidth;
      left: -$basic;
      border: 1px solid #ccc;
      background-color: transparent;
      transition: border 0.15s ease-in-out;
    }

    &::after {
      width: $line_insideWidth;
      height: $line_insideWidth;
      left: -($basic - $spacing);
      top: $spacing;
      background-color: #555;
      transform: scale(0, 0);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    }
  }

  input[type="radio"] {
    display: none;

    &:focus+label::before {
      outline: none;
    }

    &:checked+label::after {
      transform: scale(1, 1);
    }

    &:disabled + label {
      filter: grayscale(90%);
      opacity: 0.65;

      &::before {
        cursor: not-allowed;
      }
    }
  }

  &.radio-inline {
    margin-top: 0;
  }

  &.radio-sm {
    min-height: $line_outlineWidth + 10;
    line-height: $line_outlineWidth + 10;
    padding-left: ((($line_outlineWidth + 10) / 2) + $line_borderWidth);

    label {
      &::before {
        width: $line_outlineWidth + 10;
        height: $line_outlineWidth + 10;
        left: -($basic * 2);
      }

      &::after {
        width: $line_insideWidth + 10;
        height: $line_insideWidth + 10;
        left: -(($basic * 2) - $spacing);
      }
    }
  }

  &.radio-md {
    min-height: $line_outlineWidth + 14;
    line-height: $line_outlineWidth + 14;
    padding-left: ((($line_outlineWidth + 14) / 2) + $line_borderWidth);
        
    label {
      &::before {
        width: $line_outlineWidth + 14;
        height: $line_outlineWidth + 14;
        left: -($basic * 3);
      }

      &::after {
        width: $line_insideWidth + 14;
        height: $line_insideWidth + 14;
        left: -(($basic * 3) - $spacing);
      }
    }
  }

  &.radio-lg {
    min-height: $line_outlineWidth + 26;
    line-height: $line_outlineWidth + 26;
    padding-left: ((($line_outlineWidth + 26) / 2) + $line_borderWidth);
        
    label {
      &::before {
        width: $line_outlineWidth + 26;
        height: $line_outlineWidth + 26;
        left: -($basic * 6);
      }

      &::after {
        width: $line_insideWidth + 26;
        height: $line_insideWidth + 26;
        left: -(($basic * 6) - $spacing);
      }
    }
  }
}

.radio-primary {
  input[type="radio"] {
    +label::after {
      background-color: #47B1A4;
    }

    &:checked + label {
      &::before {
        border-color: #ccc;
      }

      &::after {
        background-color: #47B1A4;
      }
    }
  }
}

.radio-danger {
  input[type="radio"] {
    +label::after {
      background-color: #d9534f;
    }

    &:checked + label {
      &::before {
        border-color: #d9534f;
      }

      &::after {
        background-color: #d9534f;
      }
    }
  }
}

.radio-info {
  input[type="radio"] {
    +label::after {
      background-color: #5bc0de;
    }

    &:checked + label {
      &::before {
        border-color: #5bc0de;
      }

      &::after {
        background-color: #5bc0de;
      }
    }
  }
}

.radio-warning {
  input[type="radio"] {
    +label::after {
      background-color: #f0ad4e;
    }

    &:checked + label {
      &::before {
        border-color: #f0ad4e;
      }

      &::after {
        background-color: #f0ad4e;
      }
    }
  }
}

.radio-success {
  input[type="radio"] {
    +label::after {
      background-color: #5cb85c;
    }

    &:checked + label {
      &::before {
        border-color: #5cb85c;
      }

      &::after {
        background-color: #5cb85c;
      }
    }
  }
}
