@import '../project/variable';

$box_outlineWidth: 300px;
$box_outlineMargin: -($box_outlineWidth / 2);
$box_insideWidth: $box_outlineWidth - 60px;
$box_insideMargin: -($box_insideWidth / 2);
$box_textWidth: $box_insideWidth - 40px;
$box_textMargin: -($box_textWidth / 2);

.lmask {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $check_bgColor;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  opacity: .85;

  &::before, &::after {
    content: '';
    background-color: rgba($check_bgColor, 0);
    border: 5px solid rgba($main_color, 0.9);
    opacity: 0.9;
    border-right: 5px solid rgba($check_bgColor, 0);
    border-left: 5px solid rgba($check_bgColor, 0);
    border-radius: 50%;
  }

  p, &::before, &::after {
    position: absolute;
    top: 50%;
    left: 50%;
  }

  &::before {
    box-shadow: 0 0 35px $main_color;
    width: $box_outlineWidth;
    height: $box_outlineWidth;
    animation: spin-pulse 1s infinite ease-in-out;
    animation: spin-pulse 1s infinite linear;
    margin: $box_outlineMargin 0 0 $box_outlineMargin;
  }

  &::after {
    box-shadow: 0 0 15px $main_color;
    width: $box_insideWidth;
    height: $box_insideWidth;
    animation: spin-off-pulse 1s infinite linear;
    margin: $box_insideMargin 0 0 $box_insideMargin;
  }

  p {
    color: $white;
    line-height: $box_textWidth;
    text-align: center;
    margin: $box_textMargin 0 0 $box_textMargin;
    width: $box_textWidth;
    height: $box_textWidth;
  }
}

@keyframes spin-pulse {
  0% {
    transform:rotate(160deg);
    opacity: 0;
    box-shadow: 0 0 1px $main_color;
  }

  50% {
    transform: rotate(145deg);
    opacity: 1;
  }

  100% {
    transform: rotate(-320deg);
    opacity: 0;
  }
}
@keyframes spin-off-pulse {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}